# For local host execution use localhost.
# For Docker full-stack execution use prosody.
XMPP_DOMAIN=localhost

USER_AGENT_PASSWORD=userpass
SOFTWARE_COORDINATOR_PASSWORD=coordpass
LOCAL_COORDINATOR_PASSWORD=localcoordpass
OFFICIAL_STORE_AGENT_PASSWORD=officialpass
AUTHORIZED_RESELLER_PASSWORD=resellerpass
GRAY_MARKET_AGENT_PASSWORD=graypass
MARKETPLACE_AGENT_PASSWORD=marketpass
VALUE_RANKER_PASSWORD=rankpass
RECOMMENDATION_AGENT_PASSWORD=recommendpass
OUTPUT_AGENT_PASSWORD=outputpass
